@model User
<h1>Welcome @Model.FirstName</h1>

<p>Role: @Model.Role</p>
<p>@Model.Role ID: @Model.RoleId</p>
<p>Install Count: @Model.accounts.Count</p>
<a href="/install/new">New Install</a>


<table class="text-center d-flex justify-content-center table table-striped">
    <tr>
        <th>AR# </th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>City</th>
        <th>State</th>
        <th>Complete?</th>
    </tr>
    @foreach(Account accnt in @Model.accounts)
    {
        <tr>
            <td><a href="/install/@accnt.AccountId/lookup">@accnt.AccountId</a></td>
            <td>@accnt.customer.FirstName</td>
            <td>@accnt.customer.LastName</td>
            <td>@accnt.customer.City</td>
            <td>@accnt.customer.State</td>
            @if(accnt.Installed){<td>Yes</td>} else {<td style="color:red">No</td>}
        </tr>
    }
</table>