@model Account

<h1>Account Overview</h1>

<h4>AR: @Model.AccountId</h4>
<h2>Customer Details:</h2>
<h4>Customer Name: @Model.customer.FirstName @Model.customer.LastName</h4>
<h5>Date of Birth: @Model.customer.BirthDate.Month/@Model.customer.BirthDate.Day/@Model.customer.BirthDate.Year</h5>
<h4>Address:</h4>
<h5>@Model.customer.Line1</h5>
<h5>@Model.customer.Line2</h5>
<h5>@Model.customer.City, @Model.customer.State, @Model.customer.Zip</h5>
<p>Created At: @Model.customer.CreatedAt Updated At: @Model.customer.UpdatedAt</p>
<a href="/customer/@Model.CustomerId/edit">Edit Customer</a>

<h2>Account Details:</h2>
<h4>Account Password: @Model.AccountPassword</h4>
<h4>Contract Start: @Model.ContractStart.Month/@Model.ContractStart.Day/@Model.ContractStart.Year</h4>
<h4>Contract End: @Model.ContractEnd.Month/@Model.ContractEnd.Day/@Model.ContractEnd.Year</h4>
<h4>Recurring Monitoring Rate: $@Model.RMR</h4>
<h5>Fully Installed: @Model.Installed</h5>
<p>Created At: @Model.CreatedAt Updated At: @Model.UpdatedAt</p>
<a href="/account/@Model.AccountId/edit">Edit Account</a>

@if(@Model.SalesId == @Context.Session.GetInt32("UUID"))
{
    <form asp-controller="Salesman" asp-action="DeleteAccount" asp-route-accountId="@Model.AccountId" method="post">
        <button class="btn btn-danger">Delete</button>
    </form>
}