@{
    ViewData["Title"] = "Inventory Dashboard";
}
@model User

<div class="text-center bg">
    <h1 class="display-4">Inventory Management</h1>
    <span>Dashboard </span> | 
    <a href="/inventory/create">Create Item</a> | 
    <a href="/audit/account">Audit Account </a> | 
    <a href="/inventory/unassigned/all">View All Base Items</a> | 
    <a href="/inventory/assigned/all">View All Assigned</a>
    <h3>Welcome @Model.FirstName @Model.LastName</h3>
    <p>User Id: @Model.RoleId</p>
    <h2>Company Wide Stats</h2>
    <h5>Total Completed Installs: @ViewBag.CompletedAccounts</h5>
    <h5>Incomplete Installs: @ViewBag.IncompleteAccounts</h5>
</div>


